#bitman{
    height: 200px;
    background-image: url(../images/Bitmap.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

#bitman #bitman-img{
    height: 100%;
    background: rgba(49, 59, 89, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 165px;
} 
#bitman #bitman-img h1{
    color: #FFFFFF;
    font-family: 'Space Mono', monospace;
    font-size: 56px;
    font-weight: 700;
    font-style: normal;
    line-height: 56px;
    letter-spacing: -2.5px; 
}
/* first started here..... */
#one{
    margin-top: 120px;
    height: 445px;
}
#layer-banner{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-left: 165px;
    align-items: center;
    justify-content: center;
 }
#layer-banner .layer-banner-left h2{
    color: #495567;
    font-family: Space Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
    display: flex;
    width: 445px;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 20px;
}

#layer-banner .layer-banner-left p{
    height:84px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 20px;
    display: flex;
    width: 445px;
    flex-direction: column;
    flex-shrink: 0;
    width: 445px;
    flex-shrink: 0;
    color: #939CAA;
    font-family: Lexend Deca;  
}

.layer-banner-right{
    margin-left: 0px;
}
.layer-banner-right .fone{
    width: 445px;
    height: 445px;
    border-radius: 445px;
    margin-left: 20px;
    /* position: relative; */
}

main .layer-banner-right .empty{
    margin-left: 64px;
    /* border-radius: 200px;
    margin-top: -100px; */
    /* position: absolute; */
    /* padding: 40px; */
}

main .layer-banner-right .arrow{
    margin-top: 307px;
    margin-left: -735px;
    position: absolute; 
    /* margin-top: 220px;
    
    margin-left: -490px;
    width: 800px; */
    
}

main .layer-banner-right .cover{
    margin-top: 272px;
    position: absolute; 
    margin-left: -750px;

}

/* first ends here..... */




/* second started here..... */
#two{
    margin-top: 128px;
}
#layer-banner-second{
    display: grid;
    grid-template-columns:  1fr 1fr; 

 }
 
 main #layer-banner-second .layer-banner-second-left{
    margin-top: 0px;
    
}

main .layer-banner-second-left .fone{
    border-radius: 445px;
    width: 445px;
    height: 445px;
    margin-left: 64px;

}

main .layer-banner-second-left .empty{
    border-radius: 445px;
    width: 445px;
    height: 445px;
    position: relative;
    transform: rotate(180deg);
    margin-left: -370px;

}

main .layer-banner-second-left .arrow{
    margin-top: 20px;
    position: absolute; 
    margin-left: -640px;
    
}

main .layer-banner-second-left .cover{
    margin-top: 80px;
    position: absolute; 
    margin-left: -325px;

}

.layer-banner-second-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.layer-banner-second-right h2{
   color: #495567;
   font-family: Space Mono;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: -2.143px;
   display: flex;
   width: 445px;
   flex-direction: column;
   flex-shrink: 0;
}

.layer-banner-second-right p{
   height:84px;
   font-size: 18px;
   line-height: 25px;
   text-align: justify;
   margin-bottom: 20px;
   display: flex;
   width: 445px;
   flex-direction: column;
   flex-shrink: 0;
   display: flex;
   width: 445px;
   flex-shrink: 0;
   color: #939CAA;
   font-family: Lexend Deca;
     
}

/* second ends here..... */



/* Our values starts here..... */

#three{
    margin-top: 85px;
    padding: 0px 165px 0px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 85px;
}

#three h1{       
    color: #495567;
    text-align: center;
    font-family: Space Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
}
#our-values-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}
.tech{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tech img{
    width: 240px;
    height: 240px;
    border-radius: 240px;
}
.letter{
    border-radius: 96px;
    padding: 34px;
    margin-top: -60px;
    background-color: var(--scootcol02);
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
}
.tech h2{
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    margin-top: 32px;
}
.tech p{
    color: #939CAA;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    margin-top: 27px;
    text-align: center;
}

/* Our values ends here..... */


/* FAQS starts here..... */

#faqs{
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 120px;
}

#faqs h1{       
    color: #495567;
    text-align: center;
    font-family: Space Mono;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2.143px;
}

 #faqs #faqs-section-page{
    display: flex;
    height: 407px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
} 

#faqs-section-page h1{       
    color: #495567;
    width: 350px;
    text-align: center;
    font-family: Space Mono;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.786px;
}
.download{
    gap: 16px;
    display: flex;
    flex-direction: column;
}
.download .download-content{
    display: flex;
    flex-direction: column;
    background-color: #F2F5F9;
}
.download .download-content h2{
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    padding: 32px 40px 24px 40px;
    display: flex;
    justify-content: space-between;
}

.download .download-content p{
    color: #495567;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    width: 650px;
    padding: 0px 40px 32px 40px;
}


/* #faqs  #faqs-section-page  .download img{
    margin-left: 230px;

}

#faqs  #faqs-section-page  .download p{
    background-color: #F2F5F9;
    
    padding: 20px;
}

#faqs  #faqs-section-page  .download .img{
    background-color: #F2F5F9;
    width: 650px;
    padding: 20px;
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    margin-top: 10px;
}


#faqs  #faqs-section-page  .download .img img{
    margin-left: 220px;

}

#faqs  #faqs-section-page  .download .age{
    background-color: #F2F5F9;
    width: 650px;
    padding: 20px;
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    margin-top: 10px;
}

#faqs  #faqs-section-page  .download .age img{
    margin-left: 205px;

} */

main #faqs #faqs-section-page .driving h1{       
    color: #495567;
    width: 350px;
    text-align: center;
    font-family: Space Mono;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.786px;
    display: flex;
    margin-top: 50px;
    
}

main #faqs  #faqs-section-page .helmet h2{
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    background-color: #F2F5F9;
    flex-shrink: 0;
    padding: 20px;
    margin-top: 50px;
    width: 650px;
    
  
}

#faqs  #faqs-section-page  .helmet img{
    margin-left: 275px;

}

#faqs  #faqs-section-page  .helmet p{
    background-color: #F2F5F9;
    color: #495567;
    font-family: Lexend Deca;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    width: 650px;
    padding: 20px;
}

#faqs  #faqs-section-page  .helmet .shade{
    background-color: #F2F5F9;
    width: 650px;
    padding: 20px;
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    margin-top: 10px;
}

#faqs  #faqs-section-page  .helmet .shade img{
    margin-left: 125px;

}

#faqs  #faqs-section-page  .helmet .shape{
    background-color: #F2F5F9;
    width: 650px;
    padding: 20px;
    color: #495567;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    letter-spacing: -1.071px;
    margin-top: 10px;
}

#faqs  #faqs-section-page  .helmet .shape img{
    margin-left: 235px;

}
/* FAQS ends here..... */



/* footer starts here..... */

